.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


/* .form-control:focus {
  border-color: #969fa8;
  box-shadow: 0 0 0 0.25rem rgb(44 62 80 / 25%);
} */


.rot-image {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 60s linear infinite;
}
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}

.lead {
  font-size: 13pt;
}

main p {
  font-size: 10pt;
}

.acknowledgements {
  font-size: 9pt;
}

.feature-list {
  padding-left: 0;
}

.feature-list li {
  position: relative;
  font-size: 10.5pt;
  margin: 0;
  padding-left: 50px;
  list-style: none;
  text-align: left;
}

.feature-list li:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 100%;
  box-sizing: border-box;
  background-image: url("leaf.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 35px;
}

.ai-human {
  /* background-color: rgb(243 244 246 / 0.8);  */
  background-color: rgb(39 39 42 / 1.0);
  color: rgb(250 250 250 / 1.0);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 9999px;
  width: 90%;
  max-width: 540px;
  margin-right: 0;
  margin-left: auto;
}

@media (max-width: 767px) {
  .ai-human {
    border-radius: 22px;
  }
}

.ai-replica {
  /* background-color: white; */
  color: rgb(250 250 250 / 1.0);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  gap: 1rem;
}

/* .text-to-speech-button {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: .8rem;
  margin-right: .8rem;
} */

/* .chat-section {
  background-color: rgb(23 23 23 / 1.0);
} */

.speed, .generation-controls, .suggest-join {
  display: block;
  color: #999;
  font-size: 9pt;
  line-height: 1.25;
  margin-top: 7px;
}

.generation-controls a {
  color: #999;
}

.welcome {
  background-color: #fff7f7;
  margin-left: auto;
  margin-right: 0;
  max-width: 400px;
}

@media (max-width: 767px) {
  .welcome {
    width: 100%;
  }
}

.welcome div, .welcome label, .welcome .dropdown button {
  font-size: 9pt;
}

.welcome .group-label {
  padding-left: 0;
  padding-right: 5px;
}

.welcome label {
  padding: 1px 7px;
}

.welcome label, .welcome input {
  box-shadow: none !important;
}

.welcome .btn-outline-primary, .welcome .btn-outline-primary:hover {
  color: #333;
  border-color: black;
}

.welcome .btn-check:active+.btn-outline-primary, .welcome .btn-check:checked+.btn-outline-primary {
  color: #fff;
  background-color: #333;
  border-color: black;
}

.welcome .btn-outline-primary:hover {
  color: black;
  background-color: #ccc;
  border-color: black;
}

/* .error-box {
  font-size: 10pt;
  background-color: #fcc;
  margin-left: auto;
  margin-right: 0;
  max-width: 100%;
  word-wrap: break-word;
} */

/* .error-message {
  font-family: monospace;
  font-size: 8pt;
} */

/* .out-of-capacity {
  font-size: 9pt;
} */

/* .reset-btn {
  font-size: 9pt;
} */

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: -5px;
  top: 0;
  background: #11ff00;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: -5px;
  bottom: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: #3f3f46 #18181b;
} */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #18181b;
}

*::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border: 0px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #52525b;
}

*::-webkit-scrollbar-thumb:active {
  background: #71717a;
}

*::-webkit-scrollbar-button {
  background-color: #18181b;
  height: 15px;
  width: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #18181b;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}
/* *::-webkit-scrollbar-button:increment:after {
  content: '\25B2';
  color: white;
}

*::-webkit-scrollbar-button:decrement:after {
  content: '\25BC';
} */

/* *::-webkit-scrollbar-button {
  background-color: #ddd;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
} */

/* body {
  --sb-track-color: #18181b;
  --sb-thumb-color: #3f3f46;
  --sb-size: 16px;
} */

/* body::-webkit-scrollbar {
  width: var(--sb-size);
} */

/* body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
} */

/* body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
} */

/* @supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
} */


/* Audio  */

@keyframes quiet {
  25%{
    transform: scaleY(.6);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.6);
  }
}
@keyframes loud {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(1.2);
  }
}
/* body{
  display: flex;
  justify-content: center;
  background: black;
  margin: 0;padding: 0;
  align-items: center;
  height: 100vh;
} */

.audio-box-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.audio-box{
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: #12E2DC;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.audio-box1{
  animation-name: quiet;
}

.audio-box2{
  animation-name: normal;
}

.audio-box3{
  animation-name: quiet;
}

.audio-box4{
  animation-name: loud;
}

.audio-box5{
  animation-name: quiet;
}


.gradient-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #ffffff00,
        #79c314,
        #487de7,
        #4b369d,
        #70369d,
        #e81416,
        #ffa500,
        #faeb36
      ) border-box;
  animation: 4s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.audio-btn {
  /* background-color: #f0f0f0; */
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

/* .audio-btn:hover {
  background-color: #ddd;
} */

/* Icon styling */
.audio-icon {
  position: absolute;
  transition: opacity 0.3s ease;
}

#playIcon {
  opacity: 1;
}

#stopIcon {
  opacity: 0;
}

/* When button is toggled, show the stop icon */
.audio-btn.active #playIcon {
  opacity: 0;
}

.audio-btn.active #stopIcon {
  display: block;
  opacity: 1;
}
